.container{
    background-color:wheat;
}
.row{
    background-color: white;
    
}
.profile-work ,a{
    color: black;

    
    
    
}
.profile-edit-button{
    
    border-color: whitesmoke;
    

    
}