.home-page{

    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
   

    
}
.home-div{
    margin-top: auto;
  
    

    
    
    
}
.pt-5{
    margin: auto;
  

}